*{
	font-family: "Roboto";
}
/* Margin y paddings */
.mt-10{
	margin-top: 10%;
}
.mt-5{
	margin-top: 5%;
}
.mt-2{
	margin-top: 1%;
}
.ml-5{
	margin-left: 1%;
}
.ml-15{
	margin-left: 3% !important;
}
.mb-5{
	margin-bottom: 5%;
}
.mg-0{
	margin: 0% !important;
}
.pd-0{
	padding: 0% !important;
}
.ptyb-10{
	padding: 10% 0%;
}
.ptyb-20{
	padding: 20% 0%;
}
.plyr-5{
	padding: 0% 15%;
}
/* colores de letras */
.white{
	color: white;
}
.gray{
	color: gray;
}
.navyblue{
	color: #000066;
}
.orange{
	color: orange;
}
/* menu de navegacion */
header, .navbar-default{
	background-color: green;
	border: none;
	padding: 1% 0%;
}
						/* Seccion descripcion de la pagina */
/* imagenes background de trigo*/
.bg-trigo{
	background-image: url("../img/carousel-bg.jpg");
	background-size: 100% 100%;
}

/* propiedades del titulo que va encima de la imagen de trigo*/
.titulo{
	font-size: 400%;
}
                          /* Seccion paleta de colores */
.paleta{
	border: 1px solid black;
	height: 80px;
}
.unir{
	padding-left: 13px !important;
}
                           /* Parte about us */
.html{
	width: 95%;
}
.css{
	width: 90%;
}
.JS{
	width: 60%;
}
.PHP{
	width: 70%;
}
.pi{
	width: 80%;
}
                            /* Parte what we do */
.bg-black{
	background-color: black;
}
/* Parte our awesome team */
.noneborder{
	border: none !important;
}
/* Parte precios */
.greenborder{
	border: 1px solid green;
}
.bg-navyblue{
	background-color: #000066;
}
.bg-brown{
	background-color: 	#a5682a;
}
.bg-green{
	background-color: green;
}
.bg-white{
	background-color: white;
}
.precio{
	font-size: 250%;
}
.width50{
	width: 24% !important;
}
/* Seccion redes sociales*/
.bg-trigo{
	background-image: url("../img/img-divider-img.jpg");
	background-repeat: repeat-x;
}