@media  screen and (max-width:768px){
	.titulo{
		margin-top: 20%;
		font-size: 150%;
	}
	p, span{
		font-size: 100%;
	}
	.paleta{
		height: 50px;
	}
	.mt-2{
		margin-top: 0%;
	}
	.width50{
		width: 100% !important;
	}
	.ml-15,.ml-5{
		margin-left: 0% !important;
	}
	.plyr-xs{
		padding: 0% 30%;
	}
	.input-group{
		padding: 0% !important;
	}
	.plyr-5{
		padding: 0%;
	}
	.mt-xs{
		margin-top: 5%;
	}
}
@media  screen and (min-width:769px) and (max-width:991px){
	.ml-15{
		margin-left: 0% !important;
	}
}